<div class="col-sm-12 col-md-4 col-lg-3 pt-0 pb-0 pricing_right_sidebar_container">
	<div class="row position-sticky" id="sidebar">
		<div class="col-sm-12 sidebar_padding">
			<div class="sidebar_fixed_top">
				<div class="widget_box">
					<div class="sidebar-image" id="sidebar-image"></div>
					<div class="col-sm-12 pricing_right_sidebar">
						<h3>{% if page.productName %} {{ page.productName }} {% else %} {{ page.title }} {% endif %}</h3>
						<p class="starting">Starting at</p>
						<div class="sidebar_price_container">
						<span class="sidebar_price">
							<sup>$</sup>{{ page.lowestPrice }}<sub>/person</sub>
						</span>
						</div>
						<a class="btn btn_primary" href="https://www.peek.com/s/311f5785-a9af-4cef-af09-5a825f001fea/80YY">Check Availability</a>
						<p>Speak to Reservations</p>
						<a class="btn_link_blue" href="tel:555-555-1212">
							<i class="fas fa-phone fa_free"></i>
							<span>555-555-1212</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="col-sm-12 col-md-4 col-lg-3 pt-0 pb-0 pricing_right_sidebar_container">
	<div class="row position-sticky" id="sidebar">
		<div class="col-sm-12 sidebar_padding">
			<div class="sidebar_fixed_top">
				<div class="widget_box">
					<div class="sidebar-image" id="sidebar-image"></div>
					<div class="col-sm-12 pricing_right_sidebar">
						<h3>New York Ski Bus to Hunter Mountain</h3>
						<p class="starting">Starting at</p>
						<div class="sidebar_price_container">
						<span class="sidebar_price">
							<sup>$</sup>129<sub>/person</sub>
						</span>
						</div>
						<a class="btn btn_primary" href="https://www.peek.com/s/311f5785-a9af-4cef-af09-5a825f001fea/80YY">Check Availability</a>
						<p>Speak to Reservations</p>
						<a class="btn_link_blue" href="tel:555-555-1212">
							<i class="fas fa-phone fa_free"></i>
							<span>555-555-1212</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->