<div class="col-sm-12 other_experience_container">
	<h2 class="text-center">Other New York Experiences</h2>
	<div class="row">
		<div class="col-sm-12">
			{% for exp in  page.crossSellExp %}
				<a class="other_experience" href="{{ exp.url }}">
					<div class="other_experience_info">
						<h3 class="title"> {{ exp.name }}</h3>
						<p> {{ exp.description }}</p>
						<p class="price"><span class="secondary_color">From</span> ${{ exp.price }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>