<div class="main home hidden mobile_text_center">
	<div class="container-fluid position-relative zcr">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 pt-0 pb-0">
                    <div class="box">
						{% include slider.html %}
						{% include city_containe.html %}
						{% include about.html %}
						{% include top-picks.html %}
						{% include lift-tickets.html %}
						{% include faq-home.html %}
						{% include fine-print.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>