<div class="col-sm-12 newsletter text-center">
	<h2>Stay up-to-date with <span class="primary_color">Liftopia Experiences</span></h2>
	<p>Join our email newsletter for news and deals.</p>
	<div class="form_container">
		<form>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email Address">
			</div>
			<button type="submit" class="btn btn_primary">Submit</button>
			<small class="form-text text-muted">You can unsubscribe from our email newsletter at anytime. <a href="">See Privacy Policy</a> for information.</small>
		</form>
	</div>
</div>